{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<form action="/add_part" method="POST">
  <label for="id">Product ID:</label><br />
  <input type="number" id="id" name="id" required /><br /><br />

  <label for="name">Product Name:</label><br />
  <input type="text" id="name" name="name" required /><br /><br />

  <label for="stock">Stock Quantity:</label><br />
  <input type="number" id="stock" name="stock" min="0" required /><br /><br />

  <input type="submit" value="Add Part" />
</form>
{% endblock %}